










/* :root {
   --black: #000;
   --white: #fff;
   --max-width: 1000px;
   --light-grey: #d9d9d9;
   --dark-grey: #7c7979;
   --box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
 }
  */
 /* darkmode */
 /* .darkmode {
   --black: #fff;
   --white: #000;
 
   --box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
   transition: 0.3s ease-in-out;
 }
 body {
   font-family: "Open Sans", sans-serif;
   padding: 0;
   margin: 0;
   background-color: var(--white);
   transition: 0.3s ease-in-out;
 } */



 * {
   font-family: sans-serif, 'Times New Roman';
}

body{
     background-color: oldlace;
    
}

 main {
   width: 100%;
   margin: 100px auto;
   border: 6px solid white;
   text-align: center;
   padding: 5%;
   max-width: 800px;
   border-radius: 20px;
   box-sizing: border-box;
   box-shadow: -3px -2px 3px black;
   background-color: white;
   color:   #212427;
}

 .Real-live-time {
   background-color: oldlace;
   height: fit-content;
   width: 50px;
   position: absolute;
   padding: 20px 15px;
   border-radius: 50%;
   font-size: 11px;
   font-weight: bold;
   margin: -20px 0px -15px -15px;
   box-shadow: -5px -2px 5px gray;
   color: black;
}



.prompt-display {
   width: 100%;
   height: 20px;
   max-height: fit-content;
   margin: 0px auto -15px;
   color:blue;
   text-align: center;
   max-width: 600px;
   box-sizing: border-box;
}

.To-do-title {

       width: 100%;
       max-width: 650px;
       margin: 40px 0px 20px;
       border-radius: 5px;
       padding: 10px 10px;
       box-sizing: border-box;
       border: 4px solid black;
}

.Task-description {

       width: 100%;
       max-width: 650px;
       margin: -2px 0px 0px;
       border-radius: 5px;
       padding: 10px 10px;
       box-sizing: border-box;
       border: 4px solid black;
      

}

.time-and-date-input input {
   width: 200px;
   min-width: fit-content;
   height: 20px;
   min-height: fit-content;
   box-sizing: border-box;
   box-shadow: -2px 2px 5px gray;
       border: none;
}

.buttons {
   margin: 15px 0px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   box-sizing: border-box;
  
  
}
.Add-to-cart-btn{
   width: 200px;
   min-width: 100%;
   height: 40px;
   border-radius: 30px;
   box-sizing: border-box;
   font-weight: bold;
   letter-spacing: 2px;
   font-size: 1rem;
   margin-top: 10px;
    font-family: Raleway;
    background-color: oldlace;
     border: 5px solid black;
   padding: 3px;
}

.View-cart-btn {

   width: 200px;
   min-width: fit-content;
   height: fit-content;
   border-radius: 30px;
   box-sizing: border-box;
   font-weight: bold;
   letter-spacing: 2px;
   margin-top: 20px;
   background-color: oldlace;
   border: 4px solid black;
   padding: 3px;
   

}


.cart{ 
   display: flex;
   flex-direction: column;
   gap: 10px;
  color: black;
   border-radius: 10px;
   padding: 10px 5px;
   align-items: center;
   display: none;
   background-color: white;
   box-shadow: -2px -2px 5px gray;
   font-weight: bold;
}

.each-task {
   line-height: 1rem;
   background-color: oldlace;
   border-radius: 10px;
   width: 100%;
   font-size: small;
   text-align:left;
   padding: 5px 10px;
   height: fit-content;
   box-sizing: border-box;
   box-shadow: 5px 5px 5px black;
   overflow-wrap: break-word;
   overflow: auto;
}

.cart-buttons {
   display: flex;
   justify-content: space-between;
   margin: -5px 10px 0
}

.cart-buttons-number {
   background-color: yellow;
   border: 1px solid black;
   border-radius: 50%;
   
}

.cart-buttons-edit {
   background-color: rgb(197, 245, 126);
   border: 1px solid black;
   padding: 0px 5px;
   width: 60px;
   height: fit-content;
  
}


 .cart-buttons-delete {
   background-color: coral;
   border: 1px solid black;
   padding: 0px 5px;
   width: 60px;
   height: fit-content;
}

   

